@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
:root{
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    
    background-color: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
    
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
width: 88px;
padding: 0 25px;
}
nav ul{
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{

    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    /* color: white; */
    font-weight: bolder;
    
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding: 0 12px;
}
.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;

}
.slider{
    margin: 12px auto;
    width: 71vw;
    overflow: hidden;
}
.card{
    max-width: 91vw;
    margin: 37px auto;
}
.cards{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}
.card h2{
    font-family: 'Lato', sans-serif;
} 
.lines button{
    display: flex;
    margin: 0 40px;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}
footer{
    background-color: var(--main-bg-color);
    color: white;
    height: 12vh;
    font-family: 'Lato', sans-serif;
}